body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
}

.square {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: flex-start; /* Выровнять фигуры по верхнему краю */
    justify-content: center;
    position: relative; /* Для позиционирования фигур */
}

.white {
    background-color: #fff;
}

.black {
    background-color: #ccc;
}

.piece {
    position: absolute; /* Используем абсолютное позиционирование для фигур */
    font-size: 24px;
}

.top-piece {
    top: 5px; /* Отступ сверху для черных фигур */
}

.bottom-piece {
    bottom: 5px; /* Отступ снизу для белых фигур */
}
